.find_detail{
    padding: 15px;
    .title{
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }
    .create_date{
        margin-bottom: 10px;
        color: #999;
    }
    .article{
        line-height: 22px;
        color: #666;
    }
}