@import "@/style/mixin.scss";
.film_page{
    .swiper_film{
        height: 128px;
        background: rgba(0,0,0,0.8);
    }
    .film_intro{
        text-align: center;
        padding: 10px 0;
        h3{
            margin-bottom: 10px;
        }
        p{
            color: #666;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0 20px;
        }
    }
    .am-tabs-default-bar-tab{
        line-height: 1.3;
        text-align: center;
        color: #999;
    }
    .play_day{
        font-size: 14px;
    }
    .play_date{
        font-size: 12px;
        
    }
    .film_item{
        padding: 5px 0 15px 15px;
        li{
            height: 80px;
            border-bottom: 1px solid #f4f4f4;
            padding-right: 15px;
        }
        .info_part{
            float: left;
            width: 55%;
        }
        .item_top,.item_bottom{
            height: 40px;
            display: flex;
            align-items:flex-end;
            padding: 0 0 2px 0;
        }
        .item_bottom{
            align-items:flex-start;
            padding: 6px 0 0 0;
        }
        .start_time,.end_time{
            float: left;
            width: 45%;
        }
        .start_time{
            font-size: 20px;
            font-weight: 500;
        }
        .end_time,.screen{
            color: #666;
        }
        .screen,.language{
            width: 55%;
            float: left;
        }
        .film_price{
            height: 80px;
            display: flex;
            align-items: center;
            color: #ff6969;
            width: 25%;
            float: left;
            overflow: hidden;
            b{
                font-size: 20px;
                max-width: 100%;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .sub{
                display: flex;
                align-items: flex-end;
                width: 100%;
            }
        }
        .language{
            margin-bottom: 2px;
        }
        .buy_btn{
            float: left;
            width: 20%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                height: 32px;
                font-size: $md-fs;
            }
        }
    }
}
