*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family:"PingFang SC",system-ui,-apple-system,BlinkMacSystemFont,Helvetica,sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
}
html, body{
    width: 100%;
    height: 100%;
    color: #333;
}
body{
    line-height: 1.1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    font-size: 13px;
}
input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}
h3,h2,h1{
    font-size: 100%;
}
a{
    color: #333;
}
.clearfix:after{ content:"."; clear:both; height:0; visibility:hidden; display:block;}
#root{
    width: 100%;
    height: 100%;
}
.am-navbar{
    background: #464646;
    .am-navbar-left,.am-navbar-title{
        color: #fff;
        font-size: 14px;
    }
}
.am-button-warning{
    background: #ff6969;
}
.page_title .am-navbar-title{
    font-size: 15px;
}