$deep-color:#333;   //基础字颜色
$normal-color:#666;
$light-color:#999;
$border-color:#efefef;  //基础边线颜色
$pink:#ff6969;
$blue:#33A3F4;
$light-gray:#97cee0;
$sm-fs:12px;    //基础字号
$md-fs:14px;
$lg-fs:16px;
