@import "@/style/mixin.scss";
._button{
    background-color: $pink;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 30px;
    font-size:18px;
    -webkit-appearance:none;
}