.dy_page_loading{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#fff;
    z-index:999;
    .dy_text_wrap{
        padding: 15px;
    }
    .dy_page_text{
        overflow: hidden;
        display: flex;
        margin-bottom: 10px;
        dt,p{
            background: #f9f9f9;
        }
        dt{
            width: 86px;
            height: 86px;
            margin-right:10px ;
        }
        dd{
            flex: auto;
        }
        p{
            height: 22px;
            margin-bottom: 10px;
        }
    }
    .dy_loading_wrap{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display:flex;
        align-items: center;
        justify-content: center;
    }
}
.dy_revolve_animation{
    -webkit-animation: revolve 2s linear 0s both infinite;
    animation: revolve 2s linear 0s both infinite;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin: 0 auto 4px;
}

@keyframes revolve {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
}