@import "@/style/mixin.scss";
#film{
    width: 100%;
    height: 100%;
    background: #fff;
    .film_top{
        height: 54px;
        display: flex;
        border-bottom: 1px solid $border-color;
        justify-content: space-between;
        padding: 0 15px;
        align-items: center;
    }
   .film_title{
       color: $blue;
       font-size: $md-fs;
       display: flex;
       flex: 1 1 auto;
       justify-content: flex-end;
       font-weight: 700;
   }
   .welcome{
       display: flex;
       justify-content: space-between;
       width: 270px;
   }
   .welcome_cpiao{
       margin-bottom: 6px;
       font-size: $md-fs;
   }
   .location_icon{
       display: flex;
       align-items: center;
   }
   .address{
       color: $normal-color;
   }
   .nodata{
       text-align: center;
       padding-top: 25%;
   }
   .no_text{
       margin-top: 15px;
       color: $light-color;
       font-size: $md-fs;
   }
}
